## Transforming loan_payments_data.csv to transformed_df.csv

In [10]:
import pandas as pd
from DataTransform import DataTransform

transformed_df = pd.read_csv("loan_payments_data.csv")

In [11]:
transformer = DataTransform(transformed_df)

In [12]:
excess_symbol_columns = ['term']

for column in excess_symbol_columns:
    print(column)
    transformer.remove_excess_symbols(column)

term

In [13]:
date_columns = ['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date']

for column in date_columns:
    print(column)
    transformer.convert_to_datetime(column)

issue_date
earliest_credit_line
last_payment_date
next_payment_date
last_credit_pull_date

In [14]:
numeric_columns = ['term']

for column in numeric_columns:
    print(column)
    transformer.convert_to_numeric(column)

term

In [15]:
categorical_columns = ['home_ownership', 'grade', 'sub_grade', 'verification_status', 'loan_status', 'purpose', 'policy_code', 'application_type','employment_length']

for column in categorical_columns:
    print(column)
    transformer.convert_to_categorical(column)

home_ownership
grade
sub_grade
verification_status
loan_status
purpose
policy_code
application_type
employment_length

In [16]:
category_to_numeric_columns = ['employment_length']

for column in category_to_numeric_columns:
    print(column)
    transformer.convert_categorical_to_numeric(column)

employment_length

In [17]:
transformed_df.info()
#create the transformed_df.csv file
transformed_df.to_csv('transformed_df.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  category
 42  application_type             54231 non-null  category
dtypes: category(9), datetime64[ns](5), float64(21), int64(7), object(1)
memory usage: 14.5+ MB

# Testing DataFrameInfo Class Methods:

In [18]:
from DataFrameInfo import DataFrameInfo

df_info = DataFrameInfo(transformed_df)

In [19]:
print("Column Data Types:")
print(df_info.describe_columns())

Column Data Types:
id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                  float64
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                    category
home_ownership                       category
annual_inc                            float64
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                           object
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                          category
application_type                     category
dtype: object

In [20]:
print("\nStatistical Values:")
print(df_info.extract_statistical_values())

Statistical Values:
                 id     member_id   loan_amount  funded_amount  \
count  5.423100e+04  5.423100e+04  54231.000000   51224.000000
mean   7.621797e+06  8.655350e+06  13333.076100   13229.509117
min    5.552100e+04  7.069400e+04    500.000000     500.000000
25%    7.594330e+05  9.587720e+05   7000.000000    7000.000000
50%    7.084590e+06  8.709873e+06  12000.000000   12000.000000
75%    8.860616e+06  1.052714e+07  18000.000000   18000.000000
max    3.867612e+07  4.146185e+07  35000.000000   35000.000000
std    9.571362e+06  1.031281e+07   8082.196709    8019.017599

       funded_amount_inv          term      int_rate    instalment  \
count       54231.000000  49459.000000  49062.000000  54231.000000
mean        12952.622979     42.606199     13.507328    400.013953
min             0.000000     36.000000      5.420000     15.670000
25%          6700.000000     36.000000     10.370000    224.205000
50%         11300.000000     36.000000     13.160000    347.150000
75%         18000.000000     60.000000     16.200000    527.550000
max         35000.000000     60.000000     26.060000   1407.010000
std          8099.473527     10.719573      4.392893    238.920012

         annual_inc                     issue_date  ...  total_rec_int  \
count  5.423100e+04                          54231  ...   54231.000000
mean   7.222085e+04  2018-09-17 11:41:04.855894272  ...    2577.757101
min    3.300000e+03            2013-06-01 00:00:00  ...       0.000000
25%    4.500000e+04            2017-05-01 00:00:00  ...     889.560000
50%    6.100000e+04            2019-09-01 00:00:00  ...    1734.640000
75%    8.600000e+04            2019-11-01 00:00:00  ...    3323.765000
max    2.039784e+06            2021-01-01 00:00:00  ...   23062.450000
std    5.158934e+04                            NaN  ...    2581.657345

       total_rec_late_fee    recoveries  collection_recovery_fee  \
count        54231.000000  54231.000000             54231.000000
mean             0.901512     93.501288                10.859057
min              0.000000      0.000000                 0.000000
25%              0.000000      0.000000                 0.000000
50%              0.000000      0.000000                 0.000000
75%              0.000000      0.000000                 0.000000
max            358.680000  27750.000000              7002.190000
std              6.215792    630.843636               120.193950

                   last_payment_date  last_payment_amount  \
count                          54158         54231.000000
mean   2020-08-23 00:21:38.600391680          3130.706393
min              2013-12-01 00:00:00             0.000000
25%              2019-11-01 00:00:00           289.790000
50%              2021-04-01 00:00:00           562.670000
75%              2022-01-01 00:00:00          3738.120000
max              2022-01-01 00:00:00         36115.200000
std                              NaN          5323.801675

                   next_payment_date          last_credit_pull_date  \
count                          21623                          54224
mean   2021-10-18 16:47:47.613189632  2021-04-15 16:16:28.964296192
min              2014-01-01 00:00:00            2013-05-01 00:00:00
25%              2022-02-01 00:00:00            2021-02-01 00:00:00
50%              2022-02-01 00:00:00            2022-01-01 00:00:00
75%              2022-02-01 00:00:00            2022-01-01 00:00:00
max              2022-02-01 00:00:00            2022-01-01 00:00:00
std                              NaN                            NaN

       collections_12_mths_ex_med  mths_since_last_major_derog
count                54180.000000                  7499.000000
mean                     0.004208                    42.253634
min                      0.000000                     0.000000
25%                      0.000000                    26.000000
50%                      0.000000                    42.000000
75%                      0.000000                    59.000000
max                      4.000000                   146.000000
std                      0.070990                    21.052360

[8 rows x 33 columns]

In [21]:
print("\nDistinct Values Count:")
print(df_info.count_distinct_values())

Distinct Values Count:
id                             54231
member_id                      54231
loan_amount                     1083
funded_amount                   1122
funded_amount_inv               5261
term                               2
int_rate                         457
instalment                     19940
grade                              7
sub_grade                         35
employment_length                 11
home_ownership                     5
annual_inc                      6132
verification_status                3
issue_date                        61
loan_status                        9
payment_plan                       2
purpose                           14
dti                             3611
delinq_2yrs                       16
earliest_credit_line             587
inq_last_6mths                    24
mths_since_last_delinq           100
mths_since_last_record           120
open_accounts                     48
total_accounts                    88
out_prncp                      17673
out_prncp_inv                  17872
total_payment                  51698
total_payment_inv              51561
total_rec_prncp                25117
total_rec_int                  49331
total_rec_late_fee              1439
recoveries                      3599
collection_recovery_fee         2944
last_payment_date                 98
last_payment_amount            38235
next_payment_date                 96
last_credit_pull_date            101
collections_12_mths_ex_med         5
mths_since_last_major_derog      113
policy_code                        1
application_type                   1
dtype: int64

In [22]:
print("\nNull Values Information:")
print(df_info.count_null_values())

Null Values Information:
                             Null Count  Percentage Null
id                                    0         0.000000
member_id                             0         0.000000
loan_amount                           0         0.000000
funded_amount                      3007         5.544799
funded_amount_inv                     0         0.000000
term                               4772         8.799395
int_rate                           5169         9.531449
instalment                            0         0.000000
grade                                 0         0.000000
sub_grade                             0         0.000000
employment_length                  2118         3.905515
home_ownership                        0         0.000000
annual_inc                            0         0.000000
verification_status                   0         0.000000
issue_date                            0         0.000000
loan_status                           0         0.000000
payment_plan                          0         0.000000
purpose                               0         0.000000
dti                                   0         0.000000
delinq_2yrs                           0         0.000000
earliest_credit_line                  0         0.000000
inq_last_6mths                        0         0.000000
mths_since_last_delinq            31002        57.166565
mths_since_last_record            48050        88.602460
open_accounts                         0         0.000000
total_accounts                        0         0.000000
out_prncp                             0         0.000000
out_prncp_inv                         0         0.000000
total_payment                         0         0.000000
total_payment_inv                     0         0.000000
total_rec_prncp                       0         0.000000
total_rec_int                         0         0.000000
total_rec_late_fee                    0         0.000000
recoveries                            0         0.000000
collection_recovery_fee               0         0.000000
last_payment_date                    73         0.134609
last_payment_amount                   0         0.000000
next_payment_date                 32608        60.127971
last_credit_pull_date                 7         0.012908
collections_12_mths_ex_med           51         0.094042
mths_since_last_major_derog       46732        86.172116
policy_code                           0         0.000000
application_type                      0         0.000000

In [23]:
df_info.print_shape()

'recoveries','collection_recovery_fee'

DataFrame Shape: (54231, 43)

('recoveries', 'collection_recovery_fee')

In [24]:
column_data_type = transformed_df['collection_recovery_fee'].dtypes
print(column_data_type)

float64