In [1]:
import pandas as pd
from Data_transform import DataTransform
transformed_df = pd.read_csv("loan_payments_data.csv")

In [2]:
transformer = DataTransform(transformed_df)

In [3]:
excess_symbol_columns = ['term']

for column in excess_symbol_columns:
    print(column)
    transformer.remove_excess_symbols(column)

term

In [4]:
date_columns = ['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date']

for column in date_columns:
    print(column)
    transformer.convert_to_datetime(column)

issue_date
earliest_credit_line
last_payment_date
next_payment_date
last_credit_pull_date

In [5]:
numeric_columns = ['term']

for column in numeric_columns:
    print(column)
    transformer.convert_to_numeric(column)

term

In [6]:
categorical_columns = ['home_ownership', 'grade', 'sub_grade', 'verification_status', 'loan_status', 'purpose', 'policy_code', 'application_type','employment_length']

for column in categorical_columns:
    print(column)
    transformer.convert_to_categorical(column)

home_ownership
grade
sub_grade
verification_status
loan_status
purpose
policy_code
application_type
employment_length

In [7]:
category_to_numeric_columns = ['employment_length']

for column in category_to_numeric_columns:
    print(column)
    transformer.convert_categorical_to_numeric(column)

employment_length

In [12]:
transformed_df.info()
transformed_df.to_csv('transformed_df.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  category
 42  application_type             54231 non-null  category
dtypes: category(9), datetime64[ns](5), float64(21), int64(7), object(1)
memory usage: 14.5+ MB